.main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-left-section{
  margin-right: 100px;
  margin-left: 200px;
}

.main-right-section{
  margin-right: 100px;
}

.area img{
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coords-form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.checkboxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input, select {
  padding: 12px 8px;
  border: 1px solid grey;
  border-radius: 4px;
}

button {
  border: none;
  padding: 12px 8px;
  border-radius: 4px;
  color: white;
  background-color: rgb(60, 60, 230);
  opacity: 1;
  transition: opacity 0.15s;
}

button:hover {
  transition: 0.15s;
  background-color: rgb(16, 16, 157);
}
button:active{
  opacity: 0.5;
}

#response-table{
  width: 600px;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border: 2px solid rgb(42, 210, 244);
}


.validation-successed{
  font-size: 15px;
  color: rgb(42, 200, 42);
}

.validation-failed{
  font-size: 15px;
  color: rgb(227, 58, 58);
}

