.header{
  height: 100px;
  background-color: rgb(32,32,32);
  color: white;
  font-family: sans-serif;
}

.header, .left-section, .middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.middle-section{
  font-size: 30px;
}

.left-section img{
  margin-left: 20px;
  height: 90px;
}

.right-section{
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  flex-shrink: 0;
}
